# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.conda
https://conda.anaconda.org/anaconda/linux-64/ca-certificates-2022.07.19-h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.38-h1181459_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2022a-hda174b7_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgomp-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/_openmp_mutex-5.1-1_gnu.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/bzip2-1.0.8-h7b6447c_0.conda
https://conda.anaconda.org/anaconda/linux-64/giflib-5.2.1-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jpeg-9e-h7f8727e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.3-he6710b0_2.conda
https://conda.anaconda.org/anaconda/linux-64/libsodium-1.0.18-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libuuid-1.0.3-h7f8727e_2.conda
https://conda.anaconda.org/anaconda/linux-64/libwebp-base-1.2.2-h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lz4-c-1.9.3-h295c915_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.3-h5eee18b_3.conda
https://conda.anaconda.org/anaconda/linux-64/openssl-1.1.1q-h7f8727e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.2.5-h7f8727e_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.12-h7f8727e_2.conda
https://conda.anaconda.org/anaconda/linux-64/libpng-1.6.37-hbc83047_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.1.2-h7f8727e_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.12-h1ccaba5_0.conda
https://conda.anaconda.org/anaconda/linux-64/zeromq-4.3.4-h2531618_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zstd-1.5.2-ha4553b6_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/freetype-2.11.0-h70c0345_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libtiff-4.2.0-h2818925_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.39.2-h5082296_0.conda
https://conda.anaconda.org/anaconda/linux-64/lcms2-2.12-h3be6417_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libwebp-1.2.2-h55f646e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-3.10.4-h12debd9_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/certifi-2022.6.15-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.5-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pillow-9.2.0-py310hace64e9_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.37.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-63.4.1-py310h06a4308_0.conda
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.64.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-22.1.2-py310h06a4308_0.conda
